QtProject.conf
/chromium/
/freerdp/
/menus/
/pulse/
/xfce4/
/dconf/
/gtk-3.0/
/remmina/
/GIMP/
/gtk-2.0/
pavucontrol.ini
/volumeicon/
/Code/
mimeapps.list
i3status/backlight
/LibreCAD/
/QCAD/
/Thunar/
/mc/
/libreoffice/
/Code - OSS/
/vlc/